<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheYUG</title>
    <link rel="stylesheet" href="../Styles/styles.css">
</head>
<body>
    <div class="main">
        <div class="page1">
            <nav class="nav">
                <div class="circle">
                    <a href="#" class="cred" id="sign-up">Sign Up</a>
                </div>
                <div class="circle">
                    <a href="../Templates/login_page.html" class="cred" id="log-in" target="_blank" rel="noopener noreferrer">Log IN</a>
                </div>
            </nav>
            <div id="heading">
                <h1 class="heading1 ">
                    designer.
                </h1>
            </div>
        </div>
        <div class="page2">
            <div class="content">
                <div class="box" id="box1">
                    <img src="/Images/bored.png" alt="Design 1" class="design">
                    <p class="design text-design" id="design1"> ipsum dolor sit amet consectetur adipisicing elit. Similique praesentium nobis a iusto quidem vero quis modi cum suscipit esse labore temporibus excepturi harum</p>
                </div>
                <div class="box" id="box2">
                    <img src="/Images/bored.png" alt="Design 2" class="design">
                    <p class="design text-design" id="design2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate accusantium facere recusandae ullam optio modi, aperiam voluptatem, possimus, necessitatibus ducimus? </p>
                </div>
                <div class="box" id="box3">
                    <img src="/Images/bored.png" alt="Design 3" class="design">
                    <p class="design text-design" id="design3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo iusto harum ex error at. Magnam ullam sapiente voluptatum quod, similique ducimus aliquid nisi expedita, </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>