<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheYUG - Log In</title>
    <link rel="stylesheet" href="../Styles/login-styles.css" />
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="theyugheading">
            TheYUG
        </div>
    </nav>
    <div class="container">
        <div class="sign-in">
            <form class="credential">
                <div class="forusername">
                    <div class="username">
                        Username: 
                    </div>
                    <input type="text" class="username-input-field" id="username-label-1" placeholder="username">
                    
                </div>
                <br>
                <div class="forpassword">
                    <div class="password">
                        Password:  
                    </div>
                    <input type="password" placeholder="password" class="password-input-field">
                </div>
                <br>
                <div class="submit-button">
                    <input type="submit" class="submit" title="Log In">
                </div>
            </form>
        </div>
        <br><br><br>
        <div class="no-account-redirect">
            Don't have an account? 
        <a href="" class="redirect-link">Sign Up</a>
        </div>
        
    </div>
</body>
</html>